<div class="jumbotron">
    <h1>LET IT RIDE</h1>
    <h3>Gotta go fast</h3>
</div>


<div class="bg-primary">
    <div class="container">
        <div class="row-container">
            <div class="col-lg-12 text-center" style="color:black">
                <h3><b>Why choose us?</b></h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="reasons">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-fast-forward fa-stack-1x" style="color:darkblue"></i>
                                </span>
                            <h3><b>Fast and safe</b></h3>
                            <h4>All our drivers are former NASCAR drivers and street racers. Relax in a high speed vehicle and know that your safety
                                is guaranteed.</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="reasons">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-money fa-stack-1x" style="color:green"></i>
                                </span>
                            <h3><b>Affordable for all</b></h3>
                            <h4>Prices so low that we might go bankrupt.</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="reasons">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-fire fa-stack-1x" style="color:darkred"></i>
                                </span>
                            <h3><b>Anytime, Anywhere</b></h3>
                            <h4>We guarantee a driver will pick you up within 30 minutes or the ride is on us.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div id="happyimg" class="happyimg">
    <div class="centertext" style="color:black">
        <h1 ng-hide="isLoggedIn()">Get started today</h1>
        <h1 ng-show="isLoggedIn()">Onwards!</h1>
        <a href="/#/login" class="btn btn-default btn-lg" ng-hide="isLoggedIn()"><b>Log In</b></a>
        <a href="/#/register" class="btn btn-default btn-lg" ng-hide="isLoggedIn()"><b>Register</b></a>
        <a href="/#/ride" class="btn btn-default btn-lg" ng-show="isLoggedIn()"><b>Request a Ride</b></a>
    </div>
</div>

<div class="bg-primary">
    <div class="container">
        <div class="row-container">
            <div class="col-lg-12 text-center" style="color:black">
                <h3><b>Connect with us</b></h3>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="media">
                            <a style="font-size: 75px" href="https://www.twitter.com/"><i class="fa fa-twitter fa-fw" style="color:deepskyblue"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="media">
                            <a style="font-size: 75px" href="https://plus.google.com/collections/featured"><i class="fa fa-google-plus fa-fw" style="color:darkred"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="media">
                            <a style="font-size: 75px" href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw" style="color:darkblue"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="media">
                            <a style="font-size: 75px" href="https://www.instagram.com/"><i class="fa fa-instagram fa-fw" style="color:chocolate"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</br>


<footer>
    <div class="container">
        <div class="col-lg-12 text-center" style="color:black">
            <p><i>©2017 Let It Ride</i></p>
            <p><i>All rights reserved.</i></p>
        </div>
    </div>
</footer>




