<div class="jumbotron">
    <h1>LET IT RIDE</h1>
    <h3>Gotta go fast</h3>
</div>

<aside class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 ng-hide="isLoggedIn()">We are:</h3>
                <ul class="fa-ul" ng-hide="isLoggedIn()">
                    <li style ="font-size: 30px"><i class="fa fa-fast-forward fa-fw"></i> Fast! </li>
                    <li style ="font-size: 30px"><i class="fa fa-money fa-fw"></i> Affordable </li>
                    <li style ="font-size: 30px"><i class="fa fa-fire fa-fw"></i> AWESOME </li>
                </ul>
                <h3 ng-hide="isLoggedIn()">What are you waiting for? GET STARTED NOW!</h3>
                <h3 ng-hide="isLoggedIn()"><a href="/#/login" style="color:black">Log In</a></h3>
                <h3 ng-hide="isLoggedIn()"><a href="/#/register" style="color:black">Register</a></h3>
            </div>
        </div>
    </div>
</aside>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>List icons</li>
    <li><i class="fa-li fa fa-check-square"></i>can be used</li>
    <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
    <li><i class="fa-li fa fa-square"></i>in lists</li>
</ul>