<aside>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Contact Information</h1>
                <br>
                <ul class="fa-ul">
                    <li style ="font-size: 30px"><i class="fa fa-envelope-o fa-fw"></i>Technical Trouble? Contact us at  <a href="mailto:name@example.com">dog@sjsu.edu</a></li>
                    <li style ="font-size: 30px"><i class="fa fa-phone fa-fw"></i>Need a fast response? Call us toll-free at (111) 111-1111 </li>
                </ul>
            </div>
        </div>
    </div>
</aside>