<div class="jumbotron">
    <h1>LET IT RIDE</h1>
    <p>Gotta go fast</p>
</div>

<aside class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>GET STARTED NOW!</h3>

            </div>
        </div>
    </div>
</aside>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>List icons</li>
    <li><i class="fa-li fa fa-check-square"></i>can be used</li>
    <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
    <li><i class="fa-li fa fa-square"></i>in lists</li>
</ul>