a {
  color: #00B7FF;
}

.bg-primary{
    background-color: white;
}

.bg-secondary{
    background-color: #cccccc;
}

.video{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2,h3{
    font-family: "Californian FB", Helvetica, Arial, sans-serif;
}

h4{
    font-family: "Californian FB", Helvetica, Arial, sans-serif;
    font-size:22px;
}

.happyimg{
    display: table;
    width: 100%;
    height: 500px;
    color: #fff;
    background: url('../images/handsonwheel.jpg') no-repeat fixed center;
}

.centertext {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* pac-input is the searchbox */
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    max-width: 400px;
    width: 70%;
    height: 35px;
    border: 1px solid #8c8c8c;
    transition: 0.5s ease-in-out;
}

#pac-input:focus, #pack-input:active {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    outline: none !important;
    border-color: #8c8c8c;
}

/*Floating panel is the panel next to search box with button*/
#floating-panel {
    position: absolute;
    top: 10px;
    left: 75%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    font-size:20px;
}

#pay{
    visibility: hidden;
}

#cost-info{
    font-family: "Californian FB", Helvetica, Arial, sans-serif;
    font-size: 22px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: -20px;
    border:1px;
}

.mySlides {
    display: none;
}

/* Caption text */
.text {
    font-family: "Californian FB", Helvetica, Arial, sans-serif;
    color: #f2f2f2;
    font-size: 48px;
    padding: 20px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color:black
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 85%;
            margin: auto;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            background-color: #cccccc;
            overflow-x:hidden;
        }
        input[type="text"] {
            margin: auto;
            margin-bottom: 10px;
            display: block;
        }

